<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="slimphp">
                    <match url=".*" />
                    <action type="Rewrite" url="/api/index.php" />
                    <conditions>
                        <add input="{URL}" pattern="/api/.*" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
